<div class="event">
  <div class="event_header" onclick="open_event_enter(1)"> 22.11.17-Го собрание! </div><br/>
  <div hidden class="info_event" id="info_event1">--------------
    <br/> ---------------------------
    <br/> -----------
    <br/>
  </div>
</div>



<div class="event">
  <div class="event_header" onclick="open_event_enter(2)"> 22.11.17-Го собрание! </div><br/>
  <div hidden class="info_event" id="info_event2">
    ----------------
    <br/> -------------------------------
    <br/> ------
    <br/>
  </div>
</div>
<div class="event">
  <div class="event_header " onclick="open_event_enter(3)"> 22.11.17-Го собрание! </div><br/>
  <div hidden class="info_event" id="info_event3">
    ----------------
    <br/> -------------------------------
    <br/> ------
    <br/>
  </div>
</div>
<div class="event">
  <div class="event_header " onclick="open_event_enter(4)"> 22.11.17-Го собрание! </div><br/>
  <div hidden class="info_event" id="info_event4">
    ----------------
    <br/> -------------------------------
    <br/> ------
    <br/>
  </div>
</div>

</div>
