<div class="news">
  <div class="news__header">Заголовок новости 1</div>
  <div class="news__image"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2010/02/4980CD4D-23DB-4551-A637-E0C8EFABA2AA.jpg" alt="" width="80%" /></div>

  <div class="news__text">Текст новости 1</div>
</div>
<div class="news">
  <div class="news__header">Заголовок новости 2</div>
  <div class="news__image"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2010/02/4980CD4D-23DB-4551-A637-E0C8EFABA2AA.jpg" alt="" width="80%" /></div>

  <div class="news__text">Текст новости 2</div>
</div>
<div class="news">
  <div class="news__header">Заголовок новости 3</div>
  <div class="news__image"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2010/02/4980CD4D-23DB-4551-A637-E0C8EFABA2AA.jpg" alt="" width="80%" /></div>
  <div class="news__text">Текст новости 3</div>
</div>
<div class="news">
  <div class="news__header">Заголовок новости 4</div>
  <div class="news__image"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2010/02/4980CD4D-23DB-4551-A637-E0C8EFABA2AA.jpg" alt="" width="80%" /></div>
  <div class="news__text">Текст новости 4</div>
</div>
</div>
